<%= @blog.name %>

<%= link_to "New", new_blog_post_path(@blog) %>


<% @post.each do |post| %>
<div class="post">
	<div class="post-title">
		<%= post.title %>
	</div>
	<div class="post-body">
		<%= post.body %>
	</div>
</div>
<% end %>


